@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-sriracha);
}

@theme {
  --gradient-navbar-vertical: linear-gradient(180deg, rgba(44,104,130,1) 0%, rgba(0,0,0,1) 50%, rgba(8,8,8,1) 97%);
  --gradient-navbar-horizontal: linear-gradient(90deg, rgba(44,104,130,1) 0%, rgba(0,0,0,1) 50%, rgba(8,8,8,1) 97%);
}

@layer utilities {
  .bg-navbar-vertical {
    background: var(--gradient-navbar-vertical);
  }
  .bg-navbar-horizontal {
    background: var(--gradient-navbar-horizontal);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
